@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.icon {
  @apply transition duration-200 opacity-60 hover:opacity-100 cursor-pointer;
}

.input1{
  @apply bg-purple-100 px-2 py-1 rounded-md placeholder:text-gray-600 outline-none text-black text-base;
}

.button1{
  @apply cursor-pointer font-bold transition duration-200 p-2 rounded-xl text-gray-300 disabled:text-gray-400 disabled:cursor-not-allowed
}

/* globals.css */
input:-webkit-autofill,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px #f3e8ff inset !important;
}
